<!DOCTYPE html>
<html>
<head>
	<title>About Rockhounding</title>
	 <link rel="stylesheet" type="text/css" href="css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
</head>
<body class='about'>

  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/states">States</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li><a href='/registration'>Login and Register</a></li>
          <li class="push"><a href="/about">About</a></li>
          <li>
            
      </ul>
</nav>


<iframe width="560" height="315" src="https://www.youtube.com/embed/xSFkZ4K7C9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class='aboutRocks'>
	<p class='aboutRocksP'>Rockhounding is defined by the U.S Department of the Interior Bureau of Land Management as "the collection of reasonable amounts of mineral specimens, rocks, semi-precious gems, petrified wood and invertebrate fossils". People interested in rockhounding often rely on books to find specimens for their collections. However, relying on a static medium often leads to hobbyist being left in the dark when it comes to changes in public land. Rock-Bottom offers a place where users can share their favorite rockhounding spots so that other hobbyist stay up-to-date on where to collect certain specimen.</p> <br>
</div>


</body>
</html>