<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/states">States</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li><a href='/registration'>Login and Register</a></li>
          <li class="push"><a href="/about">About</a></li>
          <li> 
            <% if (loggedIn){ %>
            <a href="users/logout">Logout</a>
              <% } %>
            
      </ul>
</nav>
  <h1>ROCK-BOTTOM</h1>


  <div class="homepage-body">

  
  

  </div>
<!--   <footer class="zone yellow">Footer</footer> -->
</body>
</html>



