<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/states">States</a></li>
          <li><a href='/registration'>Login and Registration</a></li>
          <li class="push"><a href="/registration">About</a></li>
      </ul>
</nav>
  

   
  

  <div class="homepage-body">

  
  

  </div>
<!--   <footer class="zone yellow">Footer</footer> -->
</body>
</html>



