/*ROCKS PAGE
*/


body {
  background: url(https://i.imgur.com/C5U1o5v.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.zone {
   /* padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;



}

.rockName {
    font-size: 12px;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*nav*/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;

}

.push {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
 .main-nav {
    font-size: .5em;
    padding: 0;


 }
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

/* COVER */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* PROJECT GRID*/

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))

}

.box > img {
    width: 100%;
    height: 200px;
}

.box {
    background-color: gray;
    padding: 20px;
    margin: 20px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100% 
}


.green{
    background: #B0B0B0 ; /* Old browsers */
    background: -moz-linear-gradient(top, #B0B0B0    0%, #A9A18C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#816C5B), color-stop(100%,#A9A18C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #B0B0B0     0%,#A9A18C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #B0B0B0  0%,#A9A18C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #B0B0B0     0%,#A9A18C 100%); /* IE10+ */
    background: linear-gradient(top, #B0B0B0     0%,#A9A18C 100%); 
    font-size: 35px;
    font-family: 'Anton', sans-serif;


}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{


}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #B0B0B0; /* Old browsers */
    background: -moz-linear-gradient(top, #B0B0B0 0%, #A09885 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A09885), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #B0B0B0 0%,#A09885 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #B0B0B0 0%,#A09885 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #B0B0B0 0%,#A09885 100%); /* IE10+ */
    background: linear-gradient(top, #B0B0B0 0%,#A09885 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #B0B0B0; /* Old browsers */
    background: -moz-linear-gradient(top, #B0B0B0 0%, #B0B0B0 44%, #E8E8E8 100%); /* FF3.6+ */
    background: -moz-linear-gradient(top, #B0B0B0 0%, #B0B0B0 44%, #E8E8E8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(44%,#E8E8E8), color-stop(100%,#E8E8E8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #B0B0B0 0%,#B0B0B0 44%,#E8E8E8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #B0B0B0 0%,#B0B0B0 44%,#E8E8E8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #B0B0B0 0%,#B0B0B0 44%,#E8E8E8 100%); /* IE10+ */
    background: linear-gradient(top, #B0B0B0 0%,#B0B0B0 44%