body {
    background: url(https://i.imgur.com/5ZlXo6y.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}


}



.zone {
   /* padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;


}
h1 {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid white;
  border-radius: 15px;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*nav*/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;

}

.push {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
 .main-nav {
    font-size: .5em;
    padding: 0;
 }
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

/* COVER */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* PROJECT GRID*/

.homepage-body {

}

.box > img {
    width: 100%;
}

.box {
    background-color: gray;
    padding: 130px;
    margin: 20px;
}

footer {
    text-align: center;
}

.green{
    background: #2C4770; /* Old browsers */
    background: -moz-linear-gradient(top, #2C4770 0%, #050221 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#816C5B), color-stop(100%,#050221)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2C4770 0%,#050221 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2C4770 0%,#050221 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2C4770 0%,#050221 100%); /* IE10+ */
    background: linear-gradient(top, #2C4770 0%,#050221 100%); 
    color: #2C4770;
    font-size: 35px;
    font-family: 'Anton', sans-serif;

}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
  

}
 **********************************************************************/