<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
				
			</nav>
		</header>
	<ul>
<% for(let i = 0; i < rocks.length; i++){ %>
          <li>
            <a href="/rocks/<%=rocks[i]._id%>"><%=rocks[i].name%></a>
          </li>
        <% } %>
       </ul>
</body>
</html>