<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Rock Page</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
  
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Show All Rocks</h2>
      <ul>
        <% for(let i = 0; i < rocks.length; i++){ %>
          <li>
<!--             // <a href="//<%=[i]._id%>"><%=articles[i].title%></a>
 -->          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>