<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
	<h1>Edit you post here</h1>
	<form>
		 <input type="text" name="Username"></br>
		 <input type='text' name = 'img'></br>
		 <input type='textarea' name='information'>
		 <button type='submit'>Submit</button>
	</form>

</body>
</html>