 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit a Post</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">Posts Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/articles" method="post">
          <select name="rockId">
            <% for(let i = 0; i < rock.length; i++) { %>
                  <option value="<%=allRocks[i]._id%>"><%=allRocks[i].name%></option>
              <% } %>
           <select name="stateId">

              <% for(let i = 0; i < state.length; i++) { %>
                  <option value="<%=allStates[i]._id%>"><%=allStates[i].name%></option>
              <% } %>
          </select><br/>

          <input type="text" name="title" /><br/>
           <input type="text" name="location" /><br/>
           <input type="text" name="IMG" /><br/>


          <textarea name="body"></textarea><br/>
          <input type="submit" value="Publish A New Post"/>
      </form>
​
    </main>
  </body>
</html>