<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
<p> Your Post has been created!

	Listing all posts here just to see what is going on
</p>

<ul>
<% for(let i = 0; i < posts.length; i++){ %>
          <li>
            <a href="/posts/<%=posts[i]._id%>"><%=posts[i]%></a>
          </li>
        <% } %>
       </ul>
</body>
</html>