<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
   <link rel="stylesheet" type="text/css" href="css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
</head>
<body class='posts'>
	  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/states">States</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li><a href='/registration'>Login and Register</a></li>
          <li class="push"><a href="/about">About</a></li>
          <li> 
            
      </ul>
</nav>

<p class ='text'> Your Post has been updated</p>

</body>
</html>