<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
	  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/states">States</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li><a href='/registration'>Login and Register</a></li>
          <li class="push"><a href="/about">About</a></li>
          <li> 
            
      </ul>
</nav>
<p> Your Post has been created!

	Listing all posts here just to see what is going on
</p>

<ul>
  <!-- looping through the posts array, found in controllers/posts.js -->
<% for(let i = 0; i < posts.length; i++){ %>

          <li>
            <a href="/posts/<%=posts[i]._id%>"><%=posts[i]%></a>
          </li>
        <% } %>
       </ul>
</body>
</html>