<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>

	<!-- We can write a loop that will go through each state here when clicked on. The h1 will represent which state you are on -->
	<H1>State Name -- Recent posts</H1> 
	

</body>
</html>