<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
	<header>
	<h1>Create a post</h1>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
		</ul>
	</header>
	
	<main>
		<form>
			<input type='text' name='title'><br>
			<input type='textarea' name='body'><br>
			<input type="text" name="location">
			<input type='text' name='IMG'>
		</form>
	</main>

</body>
</html>