<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>

  <h1>Rockhounding login page. This is def going to change. But whats up Jordan and Mallory</h1>

 <h2>Login</h2>
  <form action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Login Cookie Monsta</button>
  </form>

  <h2>Registration</h2>
  <form action="/auth/registration" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Register</button>
  </form>
</body>
</html>