<!DOCTYPE html>
<html>
<head>
  <title>States</title>
  <link rel="stylesheet" type="text/css" href="css/states-style.css">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li class="push"><a href="/registration">Login & registration</a></li>
      </ul>
</nav>
<main>
  <div class="box">


        <iframe src="https://createaclickablemap.com/map.php?&id=86179&maplocation=false&online=true" width="700" height="400" style="border: none;"></iframe>
        
        <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } 
        </script>


      <iframe src="https://createaclickablemap.com/map.php?&id=86267&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe>


      <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } 
      </script>

  </div>


  

  <div class="homepage-body">

  
  </div>
</main>

</body>
</html>

