
<head>
	<title>Rockhounding</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
	<header>
  		<nav class="zone green">
	      <ul class="main-nav">
	      	  <li><a href='/'>Home</a></li>	
	          <li><a href="/states">States</a></li>
	          <li><a href='/rocks'>Rocks</a></li>
	          <li class="push"><a href="/registration">Login & Register</a></li>
	      </ul>
		</nav>
	</header>

	<main>
		 <div class="container zone red">
		  	<h1><%= state.name%></h1>
		 </div>
		 <div class="zone blue grid-wrapper">
		  	<% for(let i = 0; i < rocks.length; i++){ %>
		 <div class="box zone"><span class='rockName'><%=rocks[i].name%></span><img class="portfolio" src="/images/<%=rocks[i].IMG %>" name='<%=rocks[i].name%>'></div>
		
		    <% } %>
		   </div>
		
	</main>

  <footer class="zone yellow"> Copyright 2019</footer>

</body>
</html>

