<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
	 <link rel="stylesheet" type="text/css" href="/css/styleShow2page.css">
	 <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

</head>
<body class='rockShow2Page'>
	<header>
	  <nav class="zone green">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/states">States</a></li>
          <li><a href="/rocks">Rocks</a></li>
          <li><a href='/registration'>Login and Register</a></li>
          <li class="push"><a href="/about">About</a></li>
          <li> 
      </ul>
</nav>
	</header>
		
	<main>
		<h1><%=rock.name %></h1>
		<ul>
			<li>
			<img src='/images/<%=rock.IMG %>' class='center'>
		</li>
		</ul>	

	<div style='text-align: center;'>
		<button type="button" class="btn btn-primary">New Post</button>
	</div>
		
		<ul>
				 <% for(let i = 0; i < posts.length; i++){ %>
				 <div class='posts'> 
				<li>
					<a href="/posts/<%=posts[i].id%>" class='postsURL'><%=posts[i].title%></a>
				</li>
				</div>
				<% } %>
			</li>
		</ul>
	

	</main>
	</body>
</html>