<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
		<h1><%=rock.name %></h1>
		<h2></h2>
		<ul>
				 <% for(let i = 0; i < posts.length; i++){ %>
				<li>
					<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
				</li>
				<% } %>
			</li>
		</ul>
	</body>
</html>