<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>THIS IS WHERE WE WILL HAVE A LIST OF ROCKS THAT IS DEPENDENT ON WHICH STATE USER CLICKED</h1>
<!-- <p><=%rocks%></p> -->
</body>
</html>