<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<header>
		<a href="/">Home</a><br>
		<a href='/states'>States Map</a>
	</header>
	<body>
		<h1><%=state.name %></h1>
		<h2></h2>
		<!-- <p><=%rocks%></p> -->
	</body>
</html>