<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
	 <link rel="stylesheet" type="text/css" href="/css/styleShow2page.css">
	 <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
</head>
<body class='rockShow2Page'>
	<header>
		<nav class="zone green">
	      <ul class="main-nav">
	          <li><a href="/">Home</a></li>
	          <li><a href="/rocks">Rocks</a></li>
	          <li class="push"><a href="/registration">Login & registration</a></li>
	      </ul>
		</nav>
	</header>
		
	<main>
		<h1><%=rock.name %></h1>
		<h2></h2>
		<ul>
				 <% for(let i = 0; i < posts.length; i++){ %>
				<li>
					<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
				</li>
				<% } %>
			</li>
		</ul>
	</main>
	</body>
</html>